params {
    input_folder   = 'assests/pbmc3k_filtered_gene_bc_matrices/filtered_gene_bc_matrices/hg19'
    output_name      = 'pbmc3kOUT'
    mt_pattern    = '^MT-'
}

profiles {
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
}
